doctype
html
	head
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cosmo/bootstrap.min.css", rel="stylesheet")
		link(href="/main.css", rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body
		.container
			.page-header
				h1 Azure AD Demo Scripts
				h5 A collection of setup and walkthrough scripts, built by the product team, on how to demo Azure AD
			- if (typeof(title) !== 'undefined') {	
			ul.breadcrumb
				li: a(href = "/demo") Demo scripts
				- if (typeof(title) !== 'undefined') {
				li.active #{title}
				- }
			- }
			!= yield
